<h1>About Duck Pucks</h1>
<p>Duck Pucks was kinda founded sometime in 2010. Since then we got the idea to make pucks in the shape of ducks and talked about it for about 6 years. After multiple changes in design, manufacture and material we finally decided one Tuesday afternoon that it was time for Duck Pucks to be a real thing.

Duck Pucks are CNC cut, hand routered and packaged in Seattle by a bunch of dorks who wish they didn't suck at skateboarding.</p>
