<h1>Contact Us</h1>
<br>
<div class="container-fluid">
<p class="center" >Contact Info:</p>
<p class="center" >duck@duckpucks.com</p>
<p class="center" >206.420.7542</p>
<br>
<p class="center" >Send sponsorship requests to:</p>
<p class="center" >Duck Pucks</p>
<p class="center" >1605 South 93rd Street, Unit ED</p>
<p class="center" >Seattle, WA 98108</p>
</div>
