<div class="container-fluid cubes">
  <%= link_to buy_path do %>
    <div class="col-sm-4 home-cube buy">
    <h3>#Get</h3><h3>Pucked</h3>
    </div>
  <% end %>
  <%= link_to products_path do %>
    <div class="col-sm-4 home-cube product">
    <h3>duck</h3><h3>what?</h3>
    </div>
  <% end %>
  <%= link_to events_path do %>
    <div class="col-sm-4 home-cube events">
    <h3>events<h3>
    </div>
  <% end %>
  <%= link_to riders_path do %>
    <div class="col-sm-4 home-cube flock">
    <h3>The</h3><h3>Flock</h3>
    </div>
  <% end %>
</div>
